# Archivos temporales de LaTeX y reconstrucción
/main.aux
/main.log
/main.out
/main.toc
/informe_optimizacion.aux
/informe_optimizacion.log
/informe_optimizacion.out
/informe_optimizacion.toc
/bin/
*.fls
*.fdb_latexmk
*.synctex.gz
tmp/
__pycache__/

# Archivos locales del editor y del sistema
.DS_Store
.vscode/
